@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GERAL */
:root {
  --main-color: #d92123;
  --primary-color: #FF725E;
  --secondary-color: #fbf8f3;
  --secondary-text-color: #232323;
  --tertiary-color: #eff3f4;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
body {
  background-color: var(--secondary-color);
  min-height: 100vh;
  max-width: 100vw;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
i {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 2rem;
}

/* ANIMAÇÃO */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  margin-bottom: 56px;
  min-height: 100px;
  max-height: 150px;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px;
  min-width: 100%;
  -webkit-filter: drop-shadow(50px 50px 5px #ccc);
  filter: drop-shadow(0px 10px 5px #ccc);
}
nav h1 {
  color: var(--secondary-color);
}
nav img {
  width: 400px; 
}
.link-menu {
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  border: 2px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.link-menu:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.orcamento {
  position: relative;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.3s;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
}
.orcamento::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.orcamento::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  transition: 0.3s;
  transition-delay: 0.3s;
}
.orcamento:hover::before,
.orcamento:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.orcamento:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  box-shadow: 0 0 40px var(--secondary-color);
  transition-delay: 0.3s;
}
.menu-itens {
  display: flex;
  gap: 15px;
  padding-right: 15px;
}

/* MAIN */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  line-height: 1.6;
}
.main {
  margin-top: 50px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
}
.main-container h1 {
  font-size: 2.8rem;
  color: var(--main-color);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.main-container p {
  font-size: 1.4rem;
}
.lets-go {
  color: var(--main-color);
}
.main-content {
  line-height: 1.3;
  margin-bottom: 20px;
}
#btn-services {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
#btn-services:hover {
  border: 1px solid var(--main-color);
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.img-main {
  display: flex;
  width: 300px;
  margin: 0 auto;
}
svg {
  max-width: 100%;
}
.icon-main {
  margin-left: 20px;
  width: 45px;
}

/* ABOUT */
.about-content {
  font-weight: 600;
  margin-top: -60px;
  padding-bottom: 10px;
  width: 100vw;
  height: auto;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding-top: 10px;
}
.about-content p {
  text-align: justify;
  padding: 40px;
  font-size: 1.1rem;
}
.about-content h1 {
  font-size: 1.8rem;
}
.text-image-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.text-container {
  flex: 2 1 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.section-title {
  color: var(--secondary-color);
  font-size: 2rem;
}
.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
}
#other-services {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 500px;
}
.service i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom-right-radius: 5px;
}
.service img {
  width: 100%;
  height: 370px;
}
.service-info {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 2rem 2rem;
  min-height: 300px;
  margin-top: -3rem;
  z-index: 2;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.service h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* SOBRE NOS */
#about {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
#about-text {
  background-color: var(--main-color);
  color: var(--secondary-color);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem 1.5rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 1.5;
}
.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
}
.section-title {
  color: var(--secondary-color);
  font-size: 2rem;
  text-align: start;
}
#about-text .section-subtitle,
#about-text .section-title {
  color: var(--secondary-color);
}
#about-text i {
  background-color: transparent;
}
.about-description {
  display: flex;
  align-items: center;
  text-align: start;
}
.about-description h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#about-data {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
#about-data .data {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: -1px;
  margin-left: -1px;
  line-height: 1.3;
}
#about-data .data:first-child {
  border-bottom: 1px solid var(--secondary-text-color);
  border-right: 1px solid var(--secondary-text-color);
}
#about-data .data:last-child {
  border-top: 1px solid var(--secondary-text-color);
  border-left: 1px solid var(--secondary-text-color);
}
#about-data .data i {
  background-color: transparent;
  color: var(--main-color);
  font-size: 4rem;
  padding: 0;
}
.data .number {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.data .text {
  text-transform: uppercase;
}

/* SERVICES */
.cards-services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  visibility: hidden;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
  width: 250px;
  height: auto;
  border-radius: 5px;
  flex: 1 0 auto;
  padding-bottom: 20px;
  cursor: pointer;
}
.card h4 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
  font-weight: bold;
}
.card p {
  font-size: 0.9rem;
  text-align: justify;
  color: #fbf8f3;
  padding: 12px;
  font-weight: 500;
  border-bottom: 1px solid #fbf8f3;
}
.web-services h2 {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding-left: 10px;
  border-radius: 5px;
  text-align: start;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-filter: drop-shadow(50px 50px 5px #ccc);
  filter: drop-shadow(0px 10px 5px #ccc);
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.btn-card {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  width: 50%;
  background-color: #fbf8f3;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ea5455;
  font-weight: bold;
  border: 2px solid transparent;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.btn-card:hover {
  border: 2px solid #fbf8f3;
  background-color: #ff725e;
  color: #fbf8f3;
}
.img-card {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 767px) {
  .menu-itens {
    display: none;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    min-width: 95vw;
    text-align: center;
  }
  .main-content p {
    font-size: 1.2rem;
  }
  .main-container h1 {
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 20px;
    width: 100vw;
  }
  .main {
    flex-direction: column;
  }
  nav img {
    width: 350px;
  }
  svg {
    max-width: 100%;
    margin-top: -10px;
  }
  .about {
    margin-top: -10px;
    padding-bottom: 10px;
    width: 100vw;
  }
  .about p {
    padding: 10px;
    font-size: 1rem;
  }
  .about h1 {
    font-size: 1.2rem;
  }
  .icon-main {
    margin-left: 10px;
    width: 25px;
  }
  .services-container h1 {
    width: 95%;
  }
  .card {
    margin: 0 20px;
  }
  .card h4 {
    border-bottom: 2px solid #fbf8f3;
  }
  .web-services h2 {
    margin: 0 20px;
  }
  .btn-card {
    font-size: 1rem;
  }
  .cards-services {
    border-bottom: 2px solid transparent;
  }
}
